@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #212121;
  --brand-primary: #ff3115;
  --brand-primary-hover: #e41f05;
  --brand-secondary: #92278f;
  --brand-accent: #00bcd4;
  --brand-dark: #212121;
  --brand-gray: #505050;
  --brand-light: #f0f0f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-primary: var(--brand-primary);
  --color-brand-primary-hover: var(--brand-primary-hover);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-accent: var(--brand-accent);
  --color-brand-dark: var(--brand-dark);
  --color-brand-gray: var(--brand-gray);
  --color-brand-light: var(--brand-light);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #f9fafb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
